---
// Importar el layout y componentes
import Layout from '../layouts/Layout.astro';

// Definir los servicios en un array
const services = [
  {
    title: "Desarrollo de API",
    description: "Construyo APIs robustas y escalables para integrar sistemas y facilitar la comunicación entre aplicaciones.",
    image: '/desarrollo-web-a-medida.png'
  },
  {
    title: "Desarrollo Web",
    description: "Desarrollo sitios web dinámicos y responsivos que ofrecen una experiencia de usuario excepcional.",
    image: '/desarrollo-web-a-medida.png'
  },
  {
    title: "Desarrollo Frontend",
    description: "Implemento interfaces intuitivas y atractivas, utilizando las últimas tecnologías y mejores prácticas.",
    image: '/desarrollo-web-a-medida.png'
  },
  {
    title: "Gestión de Proyectos",
    description: "Coordino y gestiono proyectos para asegurar que se entreguen a tiempo y cumplan con los requisitos del cliente.",
    image: '/desarrollo-web-a-medida.png'
  },
  {
    title: "Implementación de Bases de Datos",
    description: "Diseño e implemento bases de datos eficientes y escalables para almacenar y gestionar datos críticos de tu negocio.",
    image: '/desarrollo-web-a-medida.png'
  },
];
---

<Layout   
  title="Servicios"
  description='Todo lo que te puedo ofrecer como desarrollador full-stack.'
>
<main class="px-4">
  <div class="space-y-24"></div>
  <section class="services-section py-8 px-4">
    <h1 class="services-title text-4xl font-bold mb-4 text-[#1D1D1D] dark:text-[#ECECEC]">Nuestros Servicios</h1>
    <p class="services-description text-lg mb-4 text-[#1D1D1D] dark:text-gray-300">
      Aquí están los servicios que ofrezco como desarrollador full-stack.
    </p>

    <div class="services-grid">
      {services.map(service => (
        <div class="service-box" key={service.title}>
          <img src={service.image} alt={service.title} class="service-image mb-2"/>
          <h3 class="text-[#1D1D1D] dark:text-[#ECECEC]">{service.title}</h3>
          <p class="text-[#1D1D1D] dark:text-gray-300">{service.description}</p>
        </div>
      ))}
    </div>
  </section>
</div>
</main>
</Layout>

<style>
/* Estilos generales para la sección de servicios */
.services-section {
  padding: 2rem;
  padding-top: 100px;
  border-radius: 12px;
  max-width: 900px;
  margin: 0 auto;
  transition: background-color 0.3s ease;
}

/* Título de los servicios */
.services-title {
  text-align: center;
  color: var(--text-color-dark);
  margin-bottom: 2rem;
}
html.dark .services-title {
  color: var(--text-color-light);
}

/* Descripción de los servicios */
.services-description {
  text-align: center;
  margin-bottom: 2rem;
  color: var(--text-color-dark);
}

html.dark .services-description {
  color: var(--text-color-light);
}

/* Estilos de la cuadrícula de servicios */
.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 16px; /* Espacio entre los boxes */
}

/* Estilos para cada box de servicio */
.service-box {
  background-color: #f9f9f9; /* Color de fondo */
  border: 1px solid #e0e0e0; /* Borde */
  border-radius: 8px; /* Esquinas redondeadas */
  padding: 16px; /* Espaciado interno */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

html.dark .service-box {
  background-color: #2a2f3e; /* Fondo oscuro en modo dark */
  border-color: #374364; /* Borde oscuro en modo dark */
}

.service-box:hover {
  transform: translateY(-5px); /* Efecto hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

html.dark .service-box:hover {
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
}

/* Imagen dentro del box de servicio */
.service-image {
  display: block;
  margin: 0 auto;
  max-width: 100%; /* Asegura que la imagen no desborde */
  height: auto; /* Mantiene la proporción */
}

/* Estilos de los títulos y descripciones dentro de los boxes */
.service-box h3 {
  font-size: 1.5rem;
  color: #374364; /* Color del título */
  margin-bottom: 0.5rem;
}

html.dark .service-box h3 {
  color: #ECECEC; /* Color del título en modo oscuro */
}

.service-box p {
  color: #555; /* Color de la descripción */
}

html.dark .service-box p {
  color: #CCCCCC; /* Color de la descripción en modo oscuro */
}

/* Responsividad */
@media (max-width: 768px) {
  .services-title {
    font-size: 2.5rem;
  }

  .services-description {
    font-size: 1rem;
  }

  .service-box h3 {
    font-size: 1.25rem;
  }
}
</style>
