---
import { getCollection, getEntryBySlug } from 'astro:content';
import Layout from '../../layouts/Layout.astro';

export async function getStaticPaths() {
  const posts = await getCollection('posts');
  return posts.map((post) => ({
    params: { slug: post.slug },
  }));
}

const { slug } = Astro.params;
const post = await getEntryBySlug('posts', slug);

if (!post) {
  throw new Error(`Post con slug "${slug}" no encontrado`);
}

const { Content } = await post.render();
export const prerender = true;
const words = post.body.split(' ').length;
const readingTime = Math.ceil(words / 200);
---

<Layout title={post.data.title} description={post.data.description}>
  <main class="px-4 py-10">
    <div class="flex justify-center">
      <section class="services-section py-8 px-4 max-w-2xl w-full">
        <h1 class="services-title text-4xl font-bold mb-4 text-center text-[#1D1D1D] dark:text-[#ECECEC]">{post.data.title}</h1>
        <p class="services-description text-lg mb-4 text-center text-[#1D1D1D] dark:text-gray-300">{post.data.description}</p>
        <p class="services-description text-lg mb-4 text-center text-[#1D1D1D] dark:text-gray-300">
          {readingTime} min · {new Date(post.data.date).toLocaleDateString()}
        </p>

        {post.data.image && (
          <img src={post.data.image} alt={post.data.title} class="max-w-full h-auto block mx-auto my-4" />
        )}

        <div class="article-content text-[#1D1D1D] dark:text-[#ECECEC]">
          <Content />
        </div>
      </section>
    </div>
  </main>
</Layout>
