---
import { getEntryBySlug } from 'astro:content';
import Layout from '../../layouts/Layout.astro';

// Obtener el slug desde la URL
const { slug } = Astro.params;

// Obtener el post usando el slug
const post = await getEntryBySlug('posts', slug);

// Asegurarse de que el post existe y renderizar su contenido
if (!post) {
  throw new Error(`Post con slug "${slug}" no encontrado`);
}

const { Content } = await post.render();  
---

<Layout 
  title={post.data.title}
  description={post.data.description}
>
<main class="px-4 py-10">
  <div class="flex justify-center">
    <section class="services-section py-8 px-4 max-w-2xl w-full"> <!-- Centra el contenido -->
      <h1 class="services-title text-4xl font-bold mb-4 text-center">{post.data.title}</h1>
      <p class="services-description text-lg mb-4 text-center">
        {post.data.description}
      </p>
      <p class="services-description text-lg mb-4 text-center">
        Publicado el: {new Date(post.data.date).toLocaleDateString()}
      </p>

      {post.data.image && (
        <img src={post.data.image} alt={post.data.title} class="max-w-full h-auto block mx-auto my-4" />
      )}
      
      <div class="services-grid"> 
        <Content /> <!-- Renderiza el contenido en formato Markdown -->
      </div>
    </section>
  </div>
</main>
</Layout>
